.DS_Store
node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
package-lock.json
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log*
.cache

# dist file
es
# lib
packages/**/lib
dist/dev
dist/prod
dist/site-desktop-shared.js
dist/site-mini-shared.js
dist/.automator
/site
#changelog.md
test/coverage
